name: Build

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Run uv build
        uses: ./.github/actions/uv-build

      - name: Upload Python wheel
        # if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: python-wheel
          path: dist/*.whl
          retention-days: 1

  build_tui:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: build tui
        uses: ./.github/actions/tui

      - name: Upload TUI binary
        # if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: tui-binaries
          path: packages/tui/bin/rogue-*
          retention-days: 1

  release:
    needs: [build, build_tui]
    runs-on: ubuntu-latest
    # if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Download Python wheel
        uses: actions/download-artifact@v4
        with:
          name: python-wheel
          path: dist

      - name: Download TUI binaries
        uses: actions/download-artifact@v4
        with:
          name: tui-binaries
          path: dist

      - name: Create release zip
        run: |
          cd dist
          zip -r rogue-release-0.1.${{ github.run_number }}.zip .
          echo "RELEASE_ZIP_PATH=dist/rogue-release-0.1.${{ github.run_number }}.zip" >> $GITHUB_ENV

      - name: Set release zip path output
        id: release_zip_path
        run: echo "zip_path=dist/rogue-release-0.1.${{ github.run_number }}.zip" >> $GITHUB_OUTPUT

      - name: Upload release artifacts
        uses: actions/upload-artifact@v4
        with:
          name: rogue-release
          path: ${{ steps.release_zip_path.outputs.zip_path }}
          retention-days: 365  # TODO: how much time do we need to keep the release artifacts?

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.release_zip_path.outputs.zip_path }}
          tag_name: v0.1.${{ github.run_number }}
          name: Release v0.1.${{ github.run_number }}
          draft: true
          prerelease: false
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
