name: Rogue

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  rogue_sanity:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Create venv
        run: uv venv

      - name: Install rogue sdk
        run: source .venv/bin/activate && uv pip install -e sdks/python

      - name: Install rogue server
        run: source .venv/bin/activate && uv pip install -e .

      - name: Run shirtify agent in background
        uses: JarvusInnovations/background-action@v1
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        with:
          run: uv run examples/tshirt_store_agent --host 0.0.0.0 --port 10001 &
          wait-on: http-get://localhost:10001/.well-known/agent.json
          tail: true

      - name: Start Rogue server in background
        uses: JarvusInnovations/background-action@v1
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        with:
          run: uv run -m rogue server --host 0.0.0.0 --port 8000 &
          wait-on: http-get://localhost:8000/api/v1/health
          tail: true

      - name: Run rogue
        uses: ./.github/actions/rogue
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        with:
          evaluated_agent_url: "http://localhost:10001"
          judge_llm: "openai/gpt-4.1"
          workdir: "./examples/tshirt_store_agent/.rogue"
